@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}
/* common style  */
.main-color{
    color: #12c8d1;
}
.span-width{
    width: 100px;
}
